.synopsis-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f9ff;
}

.synopsis-content {
  line-height: 2;
  color: #003366;
}

.synopsis-title {
  color: #b30000;
}

.mat-tooltip  {
  white-space: pre-line;
}