#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: #e6f9ff;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.app-title {
  font-size: 28px;
  margin-left: 20px;
  color: #b30000;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

button {
  font-size: 17px;
  letter-spacing: 1px;
  color: #003366;
}

.nav-links {
  margin-right: 20px;
}

@media only screen and (max-width: 440px) {
  .app-title {
    margin-left: 0;
  }

 .nav-links {
   margin-right: 0;
  text-align: right;
 }
}