.background {
  background-color: #e6f9ff;
}

.profile-title {
  margin-top: 80px;
  color: #003366;
}

.profile-card {
  background-color: #e6f9ff;
}

hr {
 border: 1px solid #003366;
}

.update-button {
  background-color: #003366;
  color: white;
}

.delete-button {
  background-color: #b30000;
  color: white;
}