<!--
  Main View displayed after login. It shows all the movie cards.
-->

<app-navigation-bar></app-navigation-bar>
<div class="background">
  <p class="movie-intro">The World of 80s Movies</p>
  <div style="display: flex;" class="movie-container">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
      <div class="movie-header">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>{{movie.Released}}</mat-card-subtitle>

      </div>
      <img src={{movie.ImagePath}} alt={{movie.Title}} class="movie-image" />
      <mat-card-actions class="movie-details-container">
        <button mat-button color="primary" (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
          Genre
        </button>
        <button mat-button color="primary"
          (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)">
          Director
        </button>
        <button mat-button color="primary" (click)="openSynopsisDialog(movie.Title, movie.Description)">
          Synopsis
        </button>
      </mat-card-actions>
      <div class="favorite-button" (click)="addFavoriteMovie(movie._id, movie.Title)">
        <mat-icon mat-button (click)="addFavoriteMovie(movie._id, movie.Title)">favorite_border</mat-icon>
        <h4 class="favorite-text">Add to Favorites</h4>
      </div>
    </mat-card>
  </div>
</div>