.genre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f9ff;
}

.genre-content {
  line-height: 2;
  color: #003366;
}

.genre-title {
  color: #b30000;
}